@font-face {
    font-family: 'NextBro';
    src: local('NextBro'), url(../assets/Fonts/next_bro/NextBro.otf) format('opentype');
}

h1,
h2,
h4 {
    text-align: center;
    color: #fff;
}

.tituloProyecto{
    font-size: 3rem;
}

.centrarJust {
    display: flex;
    justify-content: center;
}

.tituloPrincipal {
    display: flex;
    justify-content: flex-start;
    font-family: NextBro;
    font-size: 10rem;
    color: #ffffff;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.margenTopInicial {
    margin-top: 4rem;
}

.creacion {
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: 2px solid white;
    margin-top: 20px;
}

a{
    color: #ffffff;
}

.linkRepositorio{
    margin-bottom: 5rem;
}

.rowHome{
    display: flex;
}

.espacioCreacion{
    margin: 3rem;
}

.imagen{
    margin-left: 10rem;
    min-width: 25rem;
    max-width: 30rem;
    max-height: 30rem;
    transition: border-radius .275s cubic-bezier(.47, 0, .745, .715);
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-delay: 0s;
    transition-property: border-radius;
}

.separacion{
    margin-left: 20rem;
    border-left: 2px solid white;
    display: flex;
    align-self: center;
    justify-self: center;
}

.estiloBoton{
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

p {
    color: #ffffff;
}

.margengrande {
    margin-top: 8rem;
    color: #ffffff;
}

.blando {
    margin-top: 10rem;
    color: #ffffff;
}

.bottom {
    margin-bottom: 10rem;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacion button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}